@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/subset-FiraSans-Medium.woff2') format('woff2'),
  url('../fonts/Fira_Sans/subset-FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/subset-Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto/subset-Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto/subset-Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #ede9e0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 158px;
}

.nav {
  display: inline-block;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 25px;
}

nav a:hover {
  color: #5d1fb2;
}

.wrapper {
  background-image: url("../images/dachshund_logo.png");
  background-repeat: no-repeat;
  width: 1024px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  display: inline-block;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.tel {
  text-decoration: none;
  color: #510fad;
}

.promo {
  margin-bottom: 200px;
}

.promo__title {
  width: 520px;
  margin-left: 410px;
}

.promo__subtitle {
  color: #727173;
  border-left: 2px solid #510fad;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.about {
  position: relative;
  background-color: #510fad;
  margin-bottom: 244px;
}

.about:before {
  position: absolute;
  content: url(../images/about_decoration_top.png);
  display: block;
  margin-top: -83px;
}

.about__row {
  width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 106px;
}

.about__header {
  display: flex;
  flex-direction: column;
  width: 354px;
  margin-left: 365px;
  font-family: 'Fira Sans', serif;
  color: #ffffff;
  margin-bottom: 86px;
  padding-top: 116px;
}

.about:after {
  position: absolute;
  content: url(../images/about_decoration_bottom.png);
  display: block;
}

.about__title {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 40px;
}

.about__subtitle {
  color: #b8adc8;
  line-height: 30px;
  margin-top: 0;
}

.about__image {
  overflow: hidden;
  border-radius: 9px;
  width: 460px;
  box-shadow: 0 20px 45px 5px rgba(0, 0, 0, 0.5);
  font-size: 0;
  margin-right: 24px;
}

.about__image img {
  object-fit: cover;
}

.about__features {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 0;
}

.about__features-list {
  color: #fff;
  padding-left: 20px;
  padding-bottom: 20px;
}

.about__features-item {
  margin-bottom: 27px;
}

.about__video-link {
  position: relative; 
  font-family: 'Fira Sans', serif;
  font-size: 16px;
  color: #ffec00;
  text-decoration: none;
  padding-left: 5px;
}

.about__video-link:hover {
  color: #b8adc8;
}

.about__video-link:after {
  position: absolute;
  content: url(../images/arrow_next.png);
  margin-left: 18px;
  top: 3px;
}

.about__video-link:hover::after{
  content:url(../images/arrow_video-lg.png);
}

.breed {
  margin-bottom: 152px;
}

.breed__title {
  font-size: 36px;
  font-family: 'Fira Sans', serif;
  line-height: 20px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.05em;
}

.breed__row {
  display: flex;
  width: 944px;
  margin-bottom: 72px;
}

.breed__row-name {
  font-size: 24px;
  font-family: 'Fira Sans', serif;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.breed__row-page {
  display: inline-flex;
  align-items: flex-start;
}

.breed__image {
  position: absolute;
  left: 118px;
  top: 1798px;
  width: 140px;
  height: 140px;
  z-index: 90;
}

.breed__row-description {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 28px 0 20px;
}

.breed__row-text {
  line-height: 30px;
  color: #8b8a8a;
  font-weight: normal;
  width: 300px;
}

.view {
  position: relative;
  font-size: 14px;
  font-family: 'Fira Sans', serif;
  color: #510fad;
  text-decoration: none;
  line-height: 30px;

}

.view:hover {
  color: #868587;
}

.view:after {
  position: absolute;
  content: url(../images/arrow_next_f.png);
  left: 150px;
  top: 3px;
}

.view:hover:after {
  content: url(../images/arrow_next-g.png);
}

.decor {
  padding-left: 14px;
  color: #510fad;
  vertical-align: middle;
}

.reviews {
  position: relative;
  margin-bottom: 210px;
}

.reviews:before {
  position: absolute;
  content: url(../images/“.png);
  padding-left: 48px;
  padding-top: 50px;
}

.reviews__title {
  display: flex;
  font-size: 36px;
  font-family: 'Fira Sans', serif;
  justify-content: center;
  line-height: 30px;
  margin-bottom: 80px;
}

.reviews__row-content {
  display: inline-flex;
  justify-content: space-around;
}

.reviews__row-quote {
  display: flex;
  flex-direction: column;
}

.reviews__row-name {
  font-size: 24px;
  font-family: 'Fira Sans', serif;
  line-height: 30px;
  font-style: normal;
}

.reviews__row-time {
  line-height: 30px;
  font-style: italic;
  color: #737274;
}

.reviews__row-text {
  line-height: 30px;
  color: #202020;
  font-weight: normal;
}

.reviews__column {
  flex-direction: column;
}

.reviews__image {
  overflow: hidden;
  border-radius: 9px;
  width: 460px;
  box-shadow: 0 20px 45px 5px rgba(0, 0, 0, 0.5);
  font-size: 0;
  margin-bottom: 38px;
}

.about__image img {
  object-fit: cover;
}

.reviews__video {
  text-decoration: none;
  font-size: 16px;
  color: #737274;
  padding-top: 38px;
}

.reviews__video-link {
  color: #6b34b6;
}

.blog {
  display: flex;
  flex-direction: row;
  background-image: url(../images/backgroun_2.jpg);
  background-repeat: repeat;
  margin-bottom: 150px;
}

.blog__column {
  flex-direction: column;
  padding-top: 110px;
}

.blog__title {
  font-size: 36px;
  font-family: 'Fira Sans',serif;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #fff;
  padding-left: 45px;
}

.blog__title-suptitle {
  font-size: 16px;
  line-height: 30px;
  color: #a38dc3;
  padding-left: 45px;
}

.blog__icon {
  background: url(../css_sprites.png), no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-right: 9px;
}

.vk {
  background-position: -102px -102px;
  margin-left: 45px;  }
.vk:hover { background-position: -148px -102px; }

.facebook       { background-position: -10px -10px;  }
.facebook:hover { background-position: -56px -56px; }

.instagram       { background-position: -102px -10px;  }
.instagram:hover { background-position: -56px -102px; }


.blog__article {
  padding-top: 110px;
  padding-bottom: 100px;
}

.blog__article-column {
  flex-direction: column;
  padding-right: 20px;
}

.blog__article-column1 {
  flex-direction: column;
  padding-right: 41px;
}

.blog__article-block {
  display: block;
  width: 220px;
  overflow-x: hidden;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 40px 0px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.blog__article-image {
  margin-bottom: 32px;
}

.blog__article-text {
  color: #202020;
  line-height: 30px;
  margin: 0 0 30px 11px;
}

.blog__article-link {
  display: block;
  font-size: 14px;
  font-family: 'Fira Sans', serif;
  line-height: 30px;
  padding-left: 11px;
  color: #510fad;
  margin-bottom: 23px;
}

.blog__article-link-arrow {
  padding-left: 13px;
  vertical-align: middle;
}

.contact {
  padding-left: 45px;
  margin-bottom: 122px;
}

.contact__title {
  font-size: 36px;
  font-family: 'Fira Sans',serif;
  line-height: 30px;
  margin-bottom: 49px;
}

.contact__row {
  display: flex;
  flex-direction: row;
}

.contact__column {
  margin-right: 210px;
}

.contact__item {
  font-size: 14px;
  font-family: 'Fira Sans',serif;
  line-height: 30px;
  color: #737274;
  margin-bottom: 22px;
}

.contact__item-email {
  text-decoration: none;
  color: #202020;
}

.contact__item-tel {
  text-decoration: none;
  color: #202020;
}

.footer {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #d5d1ca;
  padding-top: 33px;
  padding-left: 45px;
  margin-bottom: 83px;
}

.footer__nav {
  margin-right: auto;
}

.footer__nav-link {
  line-height: 30px;
  color: #737274;
  text-decoration: none;
  margin-right: 29px;
  margin-top: 33px;
}

.footer__icon {
  display: inline-block;
  background: url(../css_sprites.png), no-repeat;
  width: 26px;
  height: 26px;
  padding-top: 23px;
}

.vk-f { background-position: -148px -10px; }
.vk-f:hover { background-position: -148px -56px; }

.facebook-f { background-position: -56px -10px;  }
.facebook-f:hover { background-position: -10px -56px; }

.instagram-f { background-position: -102px -56px;  }
.instagram-f:hover { background-position: -10px -102px; }

