@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/Fira_Sans/subset-FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/Fira_Sans/subset-FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/subset-Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
  background-color: #ede9e0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 158px;
}


.nav {
  display: inline-block;
  margin-left: auto;
}

.nav-link {
  font-family: 'Roboto';
  text-decoration: none;
  color: black;
  margin-right: 25px;
}

.wrapper {
  background-image: url("../images/dachshund_logo.png");
  background-repeat: no-repeat;
  width: 1024px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  display: inline-block;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.tel {
  text-decoration: none;
  color: #510fad;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.promo {
  margin-bottom: 200px;
}

.promo__title {
  width: 520px;
  margin-left: 440px;
  margin-right: 230px;
}

.promo__subtitle {
  border-left: 2px solid #510fad;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


.about {
  margin: 0 auto;
  background-color: #4e0fa8;
  margin-bottom: 153px;  
}

.about__decor-top {
  background-color: #ede9e0; 
  border: none;
  margin-bottom: 116px;
}

.about__row {
  width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 111px;
}

.about__header {
  display: flex;
  flex-direction: column;
  width: 354px;
  margin-left: 365px;
  font-family: 'Fira Sans';
  color: #ffffff;
  margin-bottom: 86px;

  
}

.about__title {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 40px;
}

.about__subtitle {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  margin-top: 0;
}

.about__image {
  overflow: hidden;
  border-radius: 9px;
  width: 460px;
  box-shadow: 0px 20px 45px 5px rgba(0, 0, 0, 0.5);
  font-size: 0;
  margin-right: 24px;
}

.about__image img {
  object-fit: cover;
}

.about__decor-bottom {
  background-color: #ede9e0;
}

.about__features {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-top: 0px;
  justify-content: space-around;
}

.about__features-list {
  color: #fff;
  padding-left: 20px;
  padding-bottom: 20px;
}

.about__features-item {
  margin-bottom: 27px;
}

.about__video-link {
  font-family: 'Fira Sans' serif;
  font-size: 16px;
  color: #ffec00;
  text-decoration: none;
  padding-left: 5px;
}

.breed {
  margin-bottom: 152px;
}

.breed__title {
  font-size: 36px;
  font-family: 'Fira Sans', serif;
  line-height: 20px;
  color: #202020;
  text-align: center;
  letter-spacing: 50;
}

.breed__row {
  display: flex;
  width: 944px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.breed__row-name {
  font-size: 24px;
  font-family: 'Fira Sans', serif;
  line-height: 20px;
  letter-spacing: 50;
}

.breed__row-page {
  display: inline-flex;
}

.breed__image {
  position: absolute;
  left: 118px;
  top: 1798px;
  width: 140px;
  height: 140px;
  z-index: 90;
}

.breed__row-description {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 28px 0 20px;
}

.breed__row-text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #8b8a8a;
  font-weight: normal;
  width: 300px;
}

.view {
  font-size: 14px;
  font-family: 'Fira Sans', serif;
  color: #510fad;
  text-decoration: none;
  line-height: 30px;
  flex-wrap: 500;
}

.decor {
  padding-left: 14px;
  color: #510fad;
  vertical-align: middle;
}

.reviews {
 margin: 0 auto;
 margin-bottom: 210px;
}

.reviews__title {
  display: flex;
  font-size: 36px;
  font-family: 'Fira Sans', serif;
  margin: 0 auto;
  justify-content: center;
  line-height: 30px;
  margin-bottom: 80px;
}

.reviews__row {
  
}

.reviews__row-content {
  display: inline-flex;
  justify-content: space-around;
}

.reviews__row-quote {
  display: flex;
  flex-direction: column;
}

.reviews__row-name {
  font-size: 24px;
  font-family: 'Fira Sans', serif;
  line-height: 30px;
  font-style: normal;
}

.reviews__row-time {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  font-style: italic;
  color: #737274;
}

.reviews__row-text {
  line-height: 30px;
  color: #202020;
  font-weight: normal;
}

.reviews__column {
  flex-direction: column;
}

.reviews__image {
  overflow: hidden;
  border-radius: 9px;
  width: 460px;
  box-shadow: 0px 20px 45px 5px rgba(0, 0, 0, 0.5);
  font-size: 0;
  margin-right: 24px;
  margin-bottom: 38px;
}
 
.about__image img {
  object-fit: cover;
}

.reviews__video {
  text-decoration: none;
  font-size: 16px;
  color: #737274;
  padding-top: 38px;
}

.reviews__video-link {
  color: #6b34b6;
}

.blog {
 display: flex;
 flex-direction: row;
 margin: 0 auto;
 background-image: url(../images/backgroun_2.jpg);
 background-repeat: repeat;
 margin-bottom: 150px;
}

.blog__column {
  flex-direction: column;
  padding-top: 110px;
}

.blog__title {
  font-size: 36px;
  font-family: 'Fira Sans',serif;
  line-height: 20px;
  letter-spacing: 50;
  color: #fff;
  padding-left: 45px;

}

.blog__title-suptitle {
  font-size: 16px;
  line-height: 30px;
  color: #a38dc3;
  padding-left: 45px;
}

.blog__article {
  padding-top: 110px;
  padding-bottom: 100px;
}

.blog__article-column {
  flex-direction: column;
  padding-right: 20px;
}

.blog__article-column1 {
  flex-direction: column;
  padding-right: 41px;
}

.blog__article-image {
  display: block;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.4);
}

.blog__article-text {
  margin: 0;
  background-color: #fff;
  border-top: none;
  padding-top: 15px;
}

.contact {
 margin: 0 auto;
 padding-left: 45px;
 margin-bottom: 122px;
}

.contact__title {
  font-size: 36px;
  font-family: 'Fira Sans',serif;
  line-height: 30px;
  margin-bottom: 49px;
}

.contact__row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.contact__column {
  margin-right: 210px;
}

.contact__item {
  font-size: 14px;
  font-family: 'Fira Sans',serif;
  line-height: 30px;
  color: #737274;
  margin-bottom: 22px;
}

.contact__item-address {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  font-weight: bold;
  margin-bottom: 39px;
}

.contact__item-time {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  font-weight: bold;
}

.contact__item-email {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  font-weight: bold;
  margin-bottom: 39px;
}

.contact__item-tel {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  font-weight: bold;
}

.contact__column1-mode {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  font-weight: bold;
}

.footer__nav {
  border-top: 2px solid #d5d1ca;
}

.footer__nav-link {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #737274;
  text-decoration: none;
  margin-right: 29px;
}

