@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/Fira_Sans/subset-FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/Fira_Sans/subset-FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/subset-Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
  background-color: #ede9e0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 158px;
}


.nav {
  display: inline-block;
  margin-left: auto;
}

.nav-link {
  font-family: 'Roboto';
  text-decoration: none;
  color: black;
  margin-right: 25px;
}

.wrapper {
  background-image: url("../images/dachshund_logo.png");
  background-repeat: no-repeat;
  width: 1160px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  display: inline-block;
  margin-right: 340px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: auto;
}

.tel {
  text-decoration: none;
  color: #510fad;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.promo {
  width: 520px;
  margin-left: 440px;
  margin-right: 230px;
}

.promo1 {
  border-left: 2px solid #510fad;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


.about {
   width: 1024px;
   margin: 0 auto;
  /*background-image: url("../images/backround_1.png");*/
  background-repeat: no-repeat;
  margin-top: 196px;
  background-color: #4e0fa8;
}

.about__row {
  width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.about__header {
  display: flex;
  flex-direction: column;
  width: 354px;
  margin: 0 230px 0 440px;
  padding-top: 180px;
  font-family: 'Fira Sans';
  color: #ffffff;
  
}

.about__title {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: flex-start;
}

.about__subtitle {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.about__image {
  overflow: hidden;
  border-radius: 9px;
  width: 460px;
  box-shadow: 0px 20px 45px 5px rgba(0, 0, 0, 0.5);
  font-size: 0;
  margin-right: 24px;
}

.about__image img {
  object-fit: cover;
}

.about__features {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-top: 0px;
  justify-content: space-around;
}

.about__features-list {
  color: #fff;
  padding-left: 20px;
  padding-bottom: 20px;
}

.about__features-item {
  margin-bottom: 27px;
}

.about__video-link {
  font-family: 'Fira Sans' serif;
  font-size: 16px;
  color: #ffec00;
  text-decoration: none;
  padding-left: 5px;
}

.breed {
  margin-top: 74px;
}

.breed__title {
  font-size: 36px;
  font-family: 'Fira Sans', serif;
  line-height: 20px;
  color: #202020;
  text-align: center;
  letter-spacing: 50;
  margin-top: 153px;
}

.breed__row {
  display: flex;
  width: 944px;
  margin: 0 auto;
}

.breed__row-name {
  font-size: 24px;
  font-family: 'Fira Sans', serif;
  line-height: 20px;
  letter-spacing: 50;
}

.breed__row-page {
  display: inline-flex;
}

.breed__image {
  position: absolute;
  left: 118px;
  top: 1798px;
  width: 140px;
  height: 140px;
  z-index: 90;
}

.breed__row-description {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 28px 0 20px;
}

.breed__row-text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #8b8a8a;
  font-weight: normal;
  width: 300px;
}

.view {
  font-size: 14px;
  font-family: 'Fira Sans', serif;
  color: #510fad;
  text-decoration: none;
  line-height: 30px;
  flex-wrap: 500;
}

.decor {
  padding-left: 14px;
  color: #510fad;
  vertical-align: middle;
}

.container1 .inner {
  line-height: 30px;
  margin-top: 151px;
}

.reviews {
  display: inline-flex;
  justify-content: space-around;
}

.link {
  display: flex;
  flex-direction: column;
}

.reviews-col1 {
  flex-direction: column;
}

.name {
  font-size: 24px;
  font-family: 'Fira Sans', serif;
  line-height: 30px;
  font-style: normal;
}

.time {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  font-style: italic;
  color: #737274;
}

.reviews-text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #202020;
  font-weight: normal;
}

.container-item {
  margin-top: 80px;
}